* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
div.sectionHeading {
    background-color: #eee;
    padding: 15px;
    margin: 5px 0;
    font-weight: bold;
}
div.sectionContent {
    margin-bottom: 20px;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
  flex-grow: 1
}
.result {
    margin: 20px 0 0 20px;
}
header {
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: #333;
    color: #fff;
}